<div class="flex_container">
<h1>Administration's Panel App</h1>
<div class="container">

  <nav>
    <div class="btn-group-vertical" role="toolbar">
      <button type="button" class="btn btn-secondary btn-lg" (click)="search()">Search heroes</button>
      <button class="btn btn-secondary btn-lg btn-block" (click)="add()">Add hero</button>
      <button class="btn btn-secondary btn-lg btn-block" (click)="delete()">Delete hero</button>
    </div>
  </nav>
  <span [ngSwitch]="whichPanel" >
    <div *ngSwitchCase="0"  class="container-item">
      <app-welcome></app-welcome>
    </div>
    <div *ngSwitchCase="1">
      <app-search></app-search>
    </div>
    <div *ngSwitchCase="2">
      <app-add></app-add>
    </div>
    <div *ngSwitchDefault>
      <app-delete></app-delete>
    </div>
  </span>
</div>
</div>
<router-outlet></router-outlet>
